<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAdT6RI4nw5WcBs8RnEP6WUv0FYSg3lQk</string>
	<key>GCM_SENDER_ID</key>
	<string>821146520382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asrooShop</string>
	<key>PROJECT_ID</key>
	<string>shop-mart-e6171</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-mart-e6171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821146520382:ios:19c48be72dfcac91b67a6f</string>
</dict>
</plist>